

/* Lecture 2  */

/* .card{
  max-width: 250px;
  text-align: center;
  border: 2px solid rgba(167, 165, 165, 0.694);
  box-shadow: 2px 2px  rgb(210, 209, 209);
  border-radius: 3px;
  margin: auto;
  padding: 1rem;
  display: inline-block;
}
.card .profileimage{
  max-width: 60%;
  margin-top: 1rem;
  border-radius: 50%;
}

.title{
  color: rgb(51, 50, 50);
}
.description{
  font-size: large;
} */

/* Lecture 5 */

/* .welcomemsg{
  background-color: rgb(102, 165, 8);
  display: inline-block;
  padding: 1rem;
  border-radius: 5px;
  color: white;
  margin: auto;
  border: 2px solid green;
  box-shadow: 2px 2px green;
}
.loginmsg{
  background-color:red;
  display: inline-block;
  padding: 1rem;
  border-radius: 5px;
  color: white;
  margin: auto;
  border: 2px solid rgb(51, 0, 0);
  box-shadow: 2px 2px red;
} */

/* lecture 7 */
/* .profilepic{
  width:150px;
  margin: auto;
} */


/* Lecture 8  */
/* .container{
  text-align: center;
}
.showcount{
  font-size: 6rem;
}
.btn{
  margin: 0.6rem;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: hsl(197,100%,58%);
  color: white;
  font-weight: bold;
  border: none;
}
.btn:hover{
  background-color: hsl(197,100%,48%);
} */


/* Lecture 10 */
/* body{
  font-family:Arial, Helvetica, sans-serif;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  box-shadow:5px 3px 10px black;
}
h1{
  margin: 3rem 0px;
}
.showcolor{
  width: 15rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(205, 195, 195);
  font-size: 1.2rem;
  border-radius: 0.9rem ;
  border: 5px solid rgb(172, 164, 164);
  margin-bottom:0.8rem ;
  font-weight: bolder;
}
.selectcolor{
  font-size: 1.4rem;
}
.colorPicker{
  width: 5rem;
  height: 3rem;
  margin-top: 1rem;
} */

/* list color - #d7dbe3 */

/* Lecture 15  ToDo list */


/* body{
  margin: 0;
  padding: 0;
  background-color: #e3e9ff;
}
.container{
  margin:0;
  width: 100%;
  text-align: center;
}
.todolist{
  width: 30%;
  margin: auto;
  text-align: center;
  background-color: white;
  padding-top:1rem ;
}
h1{
  width: 30%;
  background-color: #af7eea;
  color: white;
  display: inline-block;
}
ol{
  background-color: white;
  color:#000000 ;
}
.plus-btn{
  min-width: 20%;
  height: 3rem;
  border-radius: 40%;
  background-color: #af7eea;
  color: white;
  border: transparent;
  font-size: 110%;
  outline: none;
  
}
.plus{
  position: relative;
  top: 1.5rem;
}
.addbar{
  width: 100%;
  height: 2rem;
}
#addbtn{
  min-width: 10%;
  min-height: 100%;
  font-size: 100%;
  background-color: #af7eea;
  border: 0.3rem solid transparent;
  color: white;
}
#addinput{
  min-width: 20%;
  width: 75%;
  min-height: 100%;
  font-size: 100%;
  border:1px solid gray;
  outline: none;
  margin-right: 0.5rem;
}
.list-item{
  min-height: 2rem;
  font-size:1.5rem;
  display: flex;
  width: 95%;
  margin-left:0 auto 0.5rem ;
  position: relative;
  text-align: center;
}
.btns {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.remove , .moveup , .movedown{
  font-size:65%;
  font-weight: bolder;
  margin: 2px;
  outline: none;
  border: transparent;
  background-color: transparent;
}
.text{
  height: 100%;
  font-weight: bolder;
  position:absolute;
  left: 0;
  width:60%;
  text-align: start;
  overflow:hidden;
} */

/* digital clock  lec 17*/

/* .time{
  border: 1px solid gray;
  background-color: white;
  box-shadow: -1px -1px gray;
  margin: 2px;
  padding: 2px;
}
.clockContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* lect 18 */

.container{
  border: 2px solid black;
  display: inline-block;
  padding: 1rem 4rem;
}
.CA{
  background-color: orange;
}
.CB{
  background-color: lightskyblue;
}
.CC{
  background-color: lightgreen;
}
.CD{
  background-color: rgb(241, 33, 241);
}
h2{
  color: white;
}